* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: #fff8f0;
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.box-shadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.header {
  height: 95vh;
  width: 100vw;
  background-color: #ffcf99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* this is for when something is clicked */ }
  @media (max-width: 768px) {
    .header {
      font-size: 12px; } }
  .header h1 {
    color: #fff8f0;
    letter-spacing: 0.2em; }
  .header .heading-white {
    animation-name: header;
    animation-duration: 4s; }

@keyframes header {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .header .name {
    color: #92140c;
    font-size: 1.1em;
    animation-name: name;
    animation-duration: 2s;
    transition-timing-function: ease-in;
    display: inline-block; }

@keyframes name {
  0% {
    opacity: 0;
    transform: scale(1);
    text-decoration: none; }
  50% {
    opacity: .5;
    transform: scale(1.2); }
  100% {
    opacity: 1;
    transform: scale(1); } }
  .header .button {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .header button {
    height: 33%;
    width: 200px;
    background-color: inherit;
    color: #fff8f0;
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
    border-color: #fff8f0;
    border-style: solid;
    letter-spacing: 0.1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .header button:hover {
    cursor: pointer;
    transform: translateY(-3px);
    /* first is in x position, second is y position, the third value is the blur, final is obviously color. */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .header button:active {
    /* this is related to the original state, not the hover state, so it actually moves DOWN 2px when clicked */
    transform: translate(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .header button:focus {
    outline: none; }

.about {
  width: 100vw;
  height: 95vh;
  background-color: #fff;
  border-bottom: 3px solid black; }
  @media (max-width: 768px) {
    .about {
      height: auto; } }
  .about .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px 10px 5px 10px; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .about .container .heading {
      padding-top: 2%;
      color: #1e1e24;
      text-align: center;
      font-size: 40px;
      margin-top: 5px;
      text-transform: uppercase;
      animation-name: slide-in-left;
      animation-duration: 1s; }
      @media (max-width: 768px) {
        .about .container .heading {
          font-size: 20px; } }

@keyframes slide-in-left {
  0% {
    transform: translateX(-50px); }
  100% {
    transform: translateX(0px); } }
    .about .container .cards {
      padding-top: 30px;
      animation-name: fadeIn;
      animation-duration: 2s;
      transition-timing-function: ease-in-out;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 100%;
      width: 100%;
      text-align: center;
      justify-content: center;
      align-content: flex-start; }
      .about .container .cards h1 {
        color: #1e1e24; }
      .about .container .cards p {
        color: #353540; }
      .about .container .cards i {
        color: #1e1e24;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%); }
    .about .container .card {
      height: 40%;
      width: 400px; }
      @media (max-width: 768px) {
        .about .container .card {
          height: 250px; } }
      .about .container .card .icon-container {
        height: 50%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        font-size: 5em; }
      .about .container .card .text-container {
        height: 50%; }
    .about .container .personal {
      width: 1200px;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      @media (max-width: 768px) {
        .about .container .personal {
          flex-direction: column; } }
      .about .container .personal .photo {
        padding: 10 10 10 10;
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%); }
      .about .container .personal .personal-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20 20 20 20; }

.projects {
  background-color: #fff;
  height: 95vh;
  width: 100vw; }
  @media (max-width: 768px) {
    .projects {
      height: auto; } }
  .projects .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px 10px 5px 10px; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .projects .container .heading {
      padding-top: 2%;
      color: #1e1e24;
      text-align: center;
      font-size: 40px;
      margin-top: 5px;
      text-transform: uppercase;
      animation-name: slide-in-left;
      animation-duration: 1s; }
      @media (max-width: 768px) {
        .projects .container .heading {
          font-size: 20px; } }
    .projects .container .projects-box {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .projects .container .projects-box .project {
        width: 400px;
        height: 600px;
        margin: 0 40px 0 40px;
        background-image: url("https://res.cloudinary.com/clinnygee/image/upload/v1581292830/WeatherApi_z7vbi9.png");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column; }
      .projects .container .projects-box .project:hover {
        opacity: 1; }
      .projects .container .projects-box .project:hover .hidden {
        display: flex;
        opacity: 1 !important; }
      .projects .container .projects-box .hidden {
        display: none;
        flex-direction: column;
        height: 100%; }
        .projects .container .projects-box .hidden .description {
          height: 60%; }
        .projects .container .projects-box .hidden .link {
          justify-self: flex-end;
          padding: 10 10 10 10;
          width: 100%;
          height: 40%;
          opacity: 1 !important;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          /* this is for when something is clicked */ }
          .projects .container .projects-box .hidden .link button {
            width: 200px;
            height: 50px;
            background-color: white;
            color: #1e1e24;
            font-family: inherit;
            font-weight: bold;
            font-size: 20px;
            border-color: #1e1e24;
            border-style: solid;
            letter-spacing: 0.1em;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
          .projects .container .projects-box .hidden .link button:hover {
            cursor: pointer;
            transform: translateY(-3px);
            /* first is in x position, second is y position, the third value is the blur, final is obviously color. */
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
          .projects .container .projects-box .hidden .link button:active {
            /* this is related to the original state, not the hover state, so it actually moves DOWN 2px when clicked */
            transform: translate(-1px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
          .projects .container .projects-box .hidden .link button:focus {
            outline: none; }

@keyframes slide-in-bottom {
  0% {
    transform: translateY(-100); }
  100% {
    transform: translateY(0); } }

.contact {
  background-color: #ffcf99;
  height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: column; }
  @media (max-width: 768px) {
    .contact {
      height: auto; } }
  .contact .triangle {
    width: 100vw;
    height: 100px;
    background-color: white;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 0%); }
  .contact .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .contact .container .heading {
      padding-top: 2%;
      color: #1e1e24;
      text-align: center;
      font-size: 40px;
      margin-top: 5px;
      text-transform: uppercase;
      animation-name: slide-in-left;
      animation-duration: 1s; }
    .contact .container .form {
      width: 400px;
      margin-top: 50px; }
      @media (max-width: 768px) {
        .contact .container .form {
          width: 325px;
          margin-bottom: 50px; } }
      .contact .container .form input {
        background: #ffe7cc;
        border: 0;
        box-sizing: border-box;
        color: #fff;
        display: block;
        font-size: 12pt;
        margin-bottom: 3px;
        outline: none;
        padding: 10px 15px;
        width: 100%; }

.mobile-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 49px;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 10px;
  z-index: 100; }
  .mobile-nav .hamburger {
    margin-right: 20px;
    justify-self: flex-end;
    font-size: 1.3em;
    color: #91240c; }
  .mobile-nav .link {
    width: 100%;
    padding: 4px 5px 4px 20px;
    font-weight: bold;
    background-color: #ffd6a8;
    color: #fff; }
  .mobile-nav .active {
    color: #91240c;
    animation-name: active;
    animation-duration: 1s;
    transform: scale(1.1); }

@keyframes active {
  0% {
    color: white; }
  100% {
    color: #91240c;
    transform: scale(1.1); } }

.open {
  height: 200px !important;
  animation-name: grow-open;
  animation-duration: 1.5s;
  background-color: #ffcf99; }

@keyframes grow-open {
  0% {
    background-color: white;
    height: 49px; }
  100% {
    background-color: #ffcf99;
    height: 210px; } }

.nav {
  width: 100vw;
  height: 6vh;
  background-color: #ffcf99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: -8;
  border-bottom: 4px solid #91240c; }
  .nav .sticky {
    position: fixed !important;
    top: 0 !important;
    position: -webkit-sticky;
    z-index: 10; }
  .nav .nav-wrapper {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    text-align: center; }
  .nav .page-link {
    width: 15%;
    font-size: 20px;
    font-weight: bold; }
  .nav .active {
    color: #91240c;
    animation-name: active;
    animation-duration: 1s;
    transform: scale(1.1); }

@keyframes active {
  0% {
    color: white; }
  100% {
    color: #91240c;
    transform: scale(1.1); } }
  .nav .page-link:hover {
    cursor: pointer; }

.sticky {
  position: fixed !important;
  top: 0 !important;
  position: -webkit-sticky;
  z-index: 10; }

footer {
  width: 100%;
  height: 150px;
  background-color: #92140c;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center; }
  footer .container {
    text-align: center;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
    footer .container .socials-button {
      padding-top: 10px;
      width: 100px;
      height: 100px;
      font-size: 40px; }

a {
  color: #fff; }
