* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: #fff8f0;
  display: flex;
  flex-direction: column;
  overflow: hidden; }

.box-shadow {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.header {
  height: 95vh;
  width: 100vw;
  background-color: #ffcf99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* this is for when something is clicked */ }
  .header h1 {
    color: #fff8f0;
    letter-spacing: 0.2em; }
  .header .heading-white {
    animation-name: header;
    animation-duration: 4s; }

@keyframes header {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .header .name {
    color: #92140c;
    font-size: 1.1em;
    animation-name: name;
    animation-duration: 2s;
    transition-timing-function: ease-in;
    display: inline-block; }

@keyframes name {
  0% {
    opacity: 0;
    transform: scale(1);
    text-decoration: none; }
  50% {
    opacity: .5;
    transform: scale(1.2); }
  100% {
    opacity: 1;
    transform: scale(1); } }
  .header .button {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .header button {
    height: 33%;
    width: 200px;
    background-color: inherit;
    color: #fff8f0;
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
    border-color: #fff8f0;
    border-style: solid;
    letter-spacing: 0.1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .header button:hover {
    cursor: pointer;
    transform: translateY(-3px);
    /* first is in x position, second is y position, the third value is the blur, final is obviously color. */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .header button:active {
    /* this is related to the original state, not the hover state, so it actually moves DOWN 2px when clicked */
    transform: translate(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .header button:focus {
    outline: none; }

.about {
  width: 100vw;
  height: 95vh;
  background-color: #fff;
  border-bottom: 3px solid black; }
  .about .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px 10px 5px 10px; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .about .container .heading {
      padding-top: 2%;
      color: #1e1e24;
      text-align: center;
      font-size: 40px;
      margin-top: 5px;
      text-transform: uppercase;
      animation-name: slide-in-left;
      animation-duration: 1s; }

@keyframes slide-in-left {
  0% {
    transform: translateX(-50px); }
  100% {
    transform: translateX(0px); } }
    .about .container .cards {
      animation-name: fadeIn;
      animation-duration: 2s;
      transition-timing-function: ease-in-out;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 100%;
      width: 100%;
      text-align: center; }
      .about .container .cards h1 {
        color: #1e1e24; }
      .about .container .cards p {
        color: #353540; }
      .about .container .cards i {
        color: #1e1e24;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%); }
    .about .container .card {
      padding: 2% 0 2% 0;
      width: 50%;
      height: 50%;
      display: flex;
      justify-content: center; }
      .about .container .card .box {
        width: 50%;
        height: 100%; }
      .about .container .card .icon-container {
        height: 50%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        font-size: 5em; }
      .about .container .card .text-container {
        height: 50%; }

.projects {
  background-color: #fff;
  height: 95vh;
  width: 100vw;
  border-bottom: 3px solid black; }
  .projects .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px 10px 5px 10px; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .projects .container .heading {
      padding-top: 2%;
      color: #1e1e24;
      text-align: center;
      font-size: 40px;
      margin-top: 5px;
      text-transform: uppercase;
      animation-name: slide-in-left;
      animation-duration: 1s; }

.contact {
  background-color: #fff;
  height: 95vh;
  width: 100vw; }

.nav {
  width: 100vw;
  height: 6vh;
  background-color: #ffcf99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: -8;
  border-bottom: 4px solid #91240c; }
  .nav .sticky {
    position: fixed !important;
    top: 0 !important;
    position: -webkit-sticky;
    z-index: 10; }
  .nav .nav-wrapper {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    text-align: center; }
  .nav .page-link {
    width: 15%;
    font-size: 20px;
    font-weight: bold; }
  .nav .active {
    color: #91240c;
    animation-name: active;
    animation-duration: 1s;
    transform: scale(1.1); }

@keyframes active {
  0% {
    color: white; }
  100% {
    color: #91240c;
    transform: scale(1.1); } }
  .nav .page-link:hover {
    cursor: pointer; }

.sticky {
  position: fixed !important;
  top: 0 !important;
  position: -webkit-sticky;
  z-index: 10; }
