* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: #fff8f0;
  display: flex;
  flex-direction: column; }

.header {
  height: 95vh;
  width: 100vw;
  background-color: #ffcf99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  /* this is for when something is clicked */ }
  .header h1 {
    color: #fff8f0;
    letter-spacing: 0.2em; }
  .header .name {
    color: #92140c;
    font-size: 1.1em; }
  .header .button {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .header button {
    height: 33%;
    width: 200px;
    background-color: inherit;
    color: #fff8f0;
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
    border-color: #fff8f0;
    border-style: solid;
    letter-spacing: 0.1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .header button:hover {
    cursor: pointer;
    transform: translateY(-3px);
    /* first is in x position, second is y position, the third value is the blur, final is obviously color. */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .header button:active {
    /* this is related to the original state, not the hover state, so it actually moves DOWN 2px when clicked */
    transform: translate(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }
  .header button:focus {
    outline: none; }

.about {
  width: 100vw;
  height: 95vh;
  background-color: #1e1e24; }

.projects {
  background-color: #1e1e24;
  height: 95vh;
  width: 100vw; }

.contact {
  background-color: #111d4a;
  height: 95vh;
  width: 100vw; }

.nav {
  position: absolute;
  width: 100vw;
  height: 8vh;
  background-color: #ffcf99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: -8;
  border-bottom: 4px solid #91240c; }
  .nav .set {
    bottom: 0; }
  .nav .sticky {
    position: sticky !important;
    top: 0 !important;
    position: -webkit-sticky; }
  .nav .nav-wrapper {
    width: 90%;
    display: flex;
    flex-direction: row; }
  .nav .page-link {
    width: 15%;
    font-size: 20px;
    font-weight: bold; }
  .nav .page-link:hover {
    cursor: pointer; }
